<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- redirection des logs vers la sortir Console Standard -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<!-- redirection vers un fichier -->
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>app.log</file>
		<append>true</append>
		<immediateFlush>true</immediateFlush>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n</pattern>
		</encoder>
	</appender>
	<!-- politique de log pour les classes du package dev.console -->
	<logger name="dev.console" level="DEBUG">
		<appender-ref ref="FILE" />
	</logger>
</configuration>